<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEgrHR1SCA4si8sq9PbRMcYfFrJ2VaCFM</string>
	<key>GCM_SENDER_ID</key>
	<string>93310083558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cured2</string>
	<key>PROJECT_ID</key>
	<string>curd-addproduct</string>
	<key>STORAGE_BUCKET</key>
	<string>curd-addproduct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93310083558:ios:a8c7d1decfb9591c723627</string>
</dict>
</plist>